<html>
<body>
<h1 style="background-color: green; color: white">File Upload</h1>
<form action="/uploader" method="POST"
      enctype="multipart/form-data">

    <label for="table">Table</label>
    <select name="table" id="table">
        <option value="identity">Identity</option>
        <option value="location">Location</option>
        <option value="tracker">Tracker</option>
    </select>
    csv File
    <input type="file" name="file"/>
    <input type="submit" name="upload" value="Upload"/>
</form>
</body>
</html>